.container {
	height: 100vh;
	background-color: #f5f5f5;
}
.container__header {
	height: 13vh;
	position: relative;
}
.container__main {
	height: 78vh;
	width: 100%;
	position: relative;
	padding-top: 225px;
}
.container__footer {
	height: 9vh;
}
